@import "tailwindcss";

.bgimg {
  background-image: url("/images/bgimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.568);
  background-blend-mode: multiply;
}

.gt {
  font-family: "GT";
}

.graphik {
  font-family: "Graphik";
}

@font-face {
  font-family: "GT";
  src: url("/fonts/GTWalsheimPro-Regular.ttf");
}
@font-face {
  font-family: "Graphik";
  src: url("/fonts/Graphik-Light-Trial.otf");
}
